@font-face {
  font-family: 'MyFont';
  src: url('./Roboto-Regular.ttf') format('tff');
  font-weight: 600;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw
}

.hello {
    font-family: 'MyFont';
    color: rgb(255, 0, 0);
    background: url(./icon.png);
    height: 100vh;
    width: 100vw;
    font-family: 'MyFont';
}

